@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  
} */
body {
  height: 100vh;
  background: #0f0d14;
}

.custom-loader {
  width: 50px;
  height: 50px;
  border: 2px solid #766df4;
  display: grid;
  animation: h1 4s infinite linear;
}
.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  margin: auto;
  width: 70.7%;
  height: 70.7%;
  border: 2px solid #766df4;
  animation: inherit;
}
.custom-loader::after {
  width: 50%;
  height: 50%;
  border: 2px solid #766df4;
  animation-duration: 2s;
}
@keyframes h1 {
  100% {
    transform: rotate(1turn);
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  margin-right: 10px;
}
::-webkit-scrollbar-corner {
  border: none;
  background: none;
}
::-webkit-scrollbar-thumb {
  background-color: #3d3c42;
  border-radius: 3px;
  cursor: move;
}
::-webkit-scrollbar-track {
  background-color: #161616;
  border: none;
}
